{% extends 'base.html' %}
{% comment %} 支出登録用ページ {% endcomment %}
{% load humanize %}
{% block title %}編集ページ{% endblock %}

{% block contents %}
<div class="container">
  <h1 class="mb-4" style="color:#566270">編集ページ</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <table class="table" style="color:#566270">
        {{ form.as_table }}
      </table>
    </div>
    <button class="btn btn-custom mb-2 me-2" type="submit" name="button">編集する</button>
    <a class="btn btn-secondary mb-2" href="{% url 'spending:index'%}">戻る</a>
  </form>
</div>
{% comment %} カレンダー {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
  $(function() {
    $('#id_date').datepicker({
      dateFormat: 'yy-mm-dd',
      firstDay: 1,
      dayNamesMin: ["日", "月", "火", "水", "木", "金", "土"],
      monthNames: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
    });
  })
</script>
{% endblock %}
